#header {
	font-weight:400;
	.topSection {
		background-color: #e5eef0;
		color: #93a1a7;
		line-height: 48px;
		height: 50px;
		text-transform: uppercase;
		letter-spacing: 1px;
		.container{
			background-color:  #e5eef0;
		}
		.col-md-12{
			padding:0px;
			.col-md-4{
				padding:0px;
				h1 {
					font-size: 13px;
				}
			}
			.col-md-5{
				padding:0px;
				text-align: right;
				i {
				margin: 0 7px;
				.fa-mobile {
					font-size: 25px !important;
					}
				.fa-envelope-o {
					font-size: 20px !important;
					}
				}
				span {
				&:first-child {
					font-size: 14px;
					}
				&:last-child {
					font-size: 13px;
					}
				}
				li {
				&:first-child {
					padding-right: 29px;
					border-right: 1px solid #d8e3e6;
					}
				&:last-child {
					padding-left: 27px;
					}
				}
			}
		}
		
	}
	.menu{
		padding:20px 0;
		height:76px;
		text-transform: uppercase;
		font-size: 14.5px;
		line-height: 48px;
		ul{
			padding-top:-10px;
			li{
				padding:0px;
				a{
					text-decoration: none;
					color:#93a1a7;
					padding:10px 20px;
					.active{
						color:#000 !important;
								}
					&:hover{
						background-color: $mainColor;
						border-radius:30px;
						color:#fff;
								}
					i{
						font-size: 12.5px;
					}
				}
			}
			button{
				@include button;
			}
		}
	}
}
