@mixin sectionh1{
	color: #23282f;
	font-size: 30px;
	font-weight: 700;
	font-family: 'Raleway';
	text-transform: uppercase;
	color:$hColor;
}

@mixin sectionh3{
	color: #23282f;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Karla';
	text-transform: uppercase;
	margin-top: 12px;
	color:$hColor;
}

@mixin button{
	text-align: center;
	background-color: $mainColor;
	color:#fff;
	width: 141px;
	height: 38px;
	border-radius: 60px;
	font-size: 14.5px;
	letter-spacing: 1px;
	transition-duration: 0.2s;
	&:hover{
		background-color:darken($mainColor,15%);
	}
}


