.pageHeader{
	background-image: url(../../images/slider.png);
	background-size: cover;
	background-position: center;
	height:310px;
	text-transform: uppercase;
	text-align: center;
	padding-top:123px;
	h1{
		font: 700 48px / 30px 'Raleway';
		color:#ffffff !important;
	}
	h3{
		margin-top:19px;
		font:500 14px / 30px 'Raleway';
		color:#fff !important;
	}
}
