#pricing {
	.container-fluid {
		.container {
			.col-md-12 {
				padding-left:0px;
				&:first-child {
					margin-top: 100px;
					h1 {
						@include sectionh1;
					}
					h3 {
						@include sectionh3;
					} //col-md-12 first-child
				}
				&:last-child {
					margin-top: 43px;
					margin-bottom: 99px;
					.col-md-3 {
						&:first-child {
							padding-left: 0;
						}
						&:last-child {
							padding-right: 0
						}
						.plan {
							position: relative;
							border: 1px solid $borderColor;
							height: 424px;
							transition-duration: .2s;
							.planName {
								border-bottom: 1px solid $borderColor;
								padding: 36px 0 13px 0;
								h1 {
									font-size: 20px;
									font-weight: bold;
									font-family: 'Raleway';
									text-transform: uppercase;
								}
							} //planName
							.planPrice {
								padding: 20px 0 60px 0;
								p {
									font-size: 18px;
									font-family: 'Raleway';
									span {
										color: $secondaryColor;
									}
								}
							}
							.planDetails {
								line-height: 36px;
								font-size: 15px;
								font-family: 'Karla';
							}
							button {
								@include button;
								position: absolute;
								left:65px;
								bottom: 37px;
							}
							&:hover{
								-webkit-box-shadow: 0px 0px 138px -50px rgba(0,0,0,0.75);
								-moz-box-shadow: 0px 0px 138px -50px rgba(0,0,0,0.75);
								box-shadow: 0px 0px 138px -50px rgba(0,0,0,0.75);
							}
						} //plan
						.recommended {
								img {
									position: absolute;
									top: 0px;
									left: 0px;
								}
							}
					} //col-md-3
				} //col-md-12 last-child
			} //col-md-12
		} //container
	} //container-fluid
} //pricing