@media (min-width:650px) and (max-width:768px){
	#header{
		.menu{
			.container{
				ul{
					li{
						a{
							padding:10px 5px;
						}
					}
				}
			}
		}
	}
	#slider{
		.container-fluid{
			.container{
				h1{
					line-height: 60px;
				}
				ul{
					position: absolute;
					left:350px;
				}
			}
		}
	}
	#startup{
		.container-fluid{
			.container{
				.col-md-5{
					margin-top:30px;
					padding-left:0px;
				}
			}
		}
	}
	#clients{
		.container-fluid{
			.container{
				.clientPhotos{
					margin-top:300px;
				}
			}
		}
	}
	#features, #features2{
		.container-fluid{
			.container{
				.col-md-12{
					.col-xs-3{
						padding-left:0;
						&:first-child{
							padding-left:5px;
						}
					}
					.col-xs-9{
						padding-bottom:20px;
					}
				}
			}
		}
	}
	#pricing, #pricing2{
		.container-fluid{
			.container{
				.col-md-12{
					.col-md-3{
						padding:10px 15px 10px 0 !important;
						button{
							left:265px !important;
						}
					}
				}
			}
		}
	}
	#team, #team2{
		.container-fluid{
			.container{
				.col-md-12{
					.col-md-3{
						padding:10px 15px 10px 0 !important;
						button{
							left:265px !important;
						}
					}
				}
			}
		}
	}
	#footer, #footer2{
		.footer{
			background-image: none;
			.footerTop{
			background-image: none;
				.container{
					padding-left:0px;
					.col-md-12{
						padding-left:0px !important;
						.col-md-1{
							padding-left:15px !important;
						}
					}
				}
			}
		}
	}
	#about{
		.container-fluid{
			.container{
				padding-left:15px;
				.row{
					.col-md-6{
						padding-left:0px;
						&:last-child{
							padding-top:20px;
						}
					}
				}
			}
		}
	}
	#serviceStats{
		.container-fluid{
			.container{
				.row{
					.col-xs-2, .col-xs-10{
						margin-top:20px;
					}
				}
			}
		}
	}
	#blog{
		.container-fluid{
			.container{
				padding-left:15px;
				.col-md-3{
					padding-left:0px;
				}
			}
		}
	}
	#blogPost{
		.container-fluid{
			.container{
				.col-md-3{
					padding-left:0px;
				}
			}
			.comments{
				.comment{
					.col-md-8{
						padding-left: 0px;
						margin-top:5px;
						.commentContent{
							p{
								margin-top:5px;
							}
						}
					}
					&:nth-child(4){
						padding-left:30px;
					}
				}
			}
			.postAComment{
				.col-md-9{
					.row{
						.col-md-6{
							padding-left:0px;
						}
					}
				}
			}
		}
	}
	#pageContact{
		.container-fluid{
			.map{
				padding-left:15px;
				.details{
					.col-md-4{
						i{
							margin-bottom:5px;
						}
						padding-top:30px;
					}
				}
			}
			.form{
				padding-left:15px;
				.row{
					.col-md-6{
						padding-left:0px;
					}
				}
			}
		}
	}
	#slider2{
		.container-fluid{
			height:auto;
			padding-bottom:50px;
			.container{
				.row{
					
				}
			}
		}
	}
	#whatWeAre{
		.container-fluid{
			.row{
				.col-md-6{
					&:last-child{
						margin-top: 100px;
					}
				}
			}
		}
	}
	#news{
		.container-fluid{
			.container{
				.col-md-4{
					.newsImage{
						img{
							width:100%;
							margin-left:0px;
							max-height:none;
						}
					}
					.newsContent{
					}
				}
			}
		}
	}
	#newsDetails{
		.container{
			.newsContent{
				&::before{
					left:340px;
				}
			}
		}
	}
	#portfolio{
		.container-fluid{
			.container{
				padding-left:15px;
				.col-md-3{
					padding:0;
				}
			}
		}
	}
	#portfolioTwo{
		.container{
			.row{
				padding-left:15px;
				.col-md-6{
					padding-left:0px;
				}
			}
		}
	}
	#services{
		.container-fluid{
			.container{
				.serviceItem{
					.col-md-2{
						text-align: center;
						padding-bottom:20px;
					}
					.col-md-10{
						padding-left:0px;
					}
				}
			}
		}
	}
	#servicesTwo{
		.container-fluid{
			.container{
				.col-md-4{
					.serviceItem{
						.col-md-3{
							
						}
						.col-md-9{
							h4{
								margin-top:30px;
							}
						}
					}
				}
				.col-md-8{
					i{
						margin-top:3S0px;
					}
				}
			}
		}
	}
}