#team {
.container-fluid{
	background-color:$thirdColor;
.container{
	.col-md-12{
		padding-left:0px;
		&:first-child{
			margin-top: 100px;
			h1 {
				@include sectionh1;}
			h3 {
				@include sectionh3;}
		}//col-md-12 first-child
		&:last-child{
			margin-top: 38px;
			margin-bottom:98px;
			.col-md-3 {
				&:first-child {
					padding-left: 0;
					}
				&:last-child {
					padding-right: 0
				}
				.member{
					background-color: #fff;
					.imgContainer{
						width:100%;
						height:276px;
						overflow: hidden;
						img{
							width:100%;
							height:276px;
						}
					}//img-container
					.content{
						padding:30px 28px 32px 30px;
						h4{
							font-family: 'Karla';
							font-size:14px;
							font-weight: bold;
							text-transform: uppercase;
							letter-spacing: 1px;
						}
						p{
							color:$secondaryColor;
							}
						ul{
							margin-top: 13px;
							a{
								color: #adbdc1;
								&:hover{
									color:darken(#adbdc1,35%);
								}
							}
						}
					}
				}
			}//col-md-3
		}//col-md-12 last-child
	}//col-md-12
}//container
}//container-fluid
}//team