$mainColor: #29c2e1; //blue
$secondaryColor: #f7941d; //orange
$thirdColor: #e5eef0; //Lightened Blue
$pColor: #55595f; //Paragraph Color
$hColor: #23282f; //Heading Color
$borderColor: #e6edee;
$mainWidth: 1170px;