.header2{
	background-color: #1f2629 !important;
	.container{
		background-color: transparent !important;
		.col-md-12{
			.col-md-5{
				ul{
					li{
						font: 400 16px / 24px 'Karla';
						border:none !important;
						&:first-child{
							color:#bac7cd;
						}
						&:last-child{
							color:#7b8a90;
						}
					}
				}
			}
		}
	}
}

#slider2 {
	.container-fluid {
		position: relative;
		height: 750px;
		background-position: center;
		background-size: cover;
		color: white;
		font-family: 'Raleway';
		text-transform: uppercase;
		text-align: center;
		line-height: 30px;
		button{
			position:absolute;
			font-size:50px;
			background-color: transparent;
			border:none;
		}
		#left{
			top:300px;
			left:40px;
			float:left;
		}
		#right{
			top:300px;
			right:40px;
			float:right;
		}
		.container{
			h1 {
				font: 700 60px / 60px 'Raleway';
				font-weight: bold;
			}
			p {
				font: 400 24px / 55px 'Raleway';
				margin-top: 293px;
			}
			button{
				@include button;
				font-family: 'Karla';
				border-radius: 3px;
				text-transform: uppercase;
				margin-top:25px;
				position: relative;
				width:auto;
			}
			.row{
				background-color: rgba(13, 14, 18, 0.6);
				padding:23px;
				margin-top:150px;
				.col-md-3{
					text-transform: uppercase;
					padding:0;
					h3{
						color: #ffffff;
						font: 500 12px / 14px 'Raleway';
						background-color: $secondaryColor;
						display: inline-block;
						padding:0 3px 0 3px;
					}
					h1{
						font: 700 22px / 24px 'Raleway';
					}
					input{
						border:none;
						height:42px;
						padding:0 20px;
						margin-top:8px;
						width:95%;
						text-transform: uppercase;
					}
					button{
						@include button;
						background-color: $secondaryColor;
						border-radius: 3px;
						float:left;
						width:auto;
						margin-top: 10px;
						margin-left:2px;
						padding-left:41px;
						padding-right:41px;
						&:hover{
							background-color: darken($secondaryColor, 20%);
						}
					}
				}
			}
		}
	}
}

#whatWeAre{
	.container-fluid{
		.container{
			padding:100px 0;
			.col-md-12{
				padding:0 0 80px 0;
				h1 {
					font: 700 25px / 30px 'Raleway';
					text-transform: uppercase;
				}
				h3 {
					color:#fff;
					font:400 13px / 15px 'Raleway';
					display: inline-block;
					background-color: $secondaryColor;
					text-transform: uppercase;
					padding:0px 6px;
				}
			}
			.row{
				.col-md-6{
					div{
						width: 100%;
						height: 236px;
						background-color: $thirdColor;
						position: relative;
						img{
							width:475px;
							height:308px;
							position: absolute;
							top:-36px;
							left:35px;
						}
					}
					p{
						font: 400 14px / 24px 'Karla';
					}
					button{
						@include button;
						border-radius:3px;
						background-color: $secondaryColor;
						margin-top:50px;
					}
					&:first-child{
						padding-right:26px;
					}
					&:last-child{
						padding-left:26px;
					}
				}
			}
		}
	}
}

#features2 {
	.container-fluid {
		background-color: $thirdColor;
		.container {
			padding:38px 15px 100px 15px;
			.col-md-12 {
				padding:60px 0 0 0;
				&:last-child{
					border-bottom:1px solid $thirdColor;
					
				}
				h1 {
					font: 700 25px / 30px 'Raleway';
					text-transform: uppercase;
				}
				> h3 {
					color:#fff;
					font:400 13px / 15px 'Raleway';
					display: inline-block;
					background-color: $secondaryColor;
					text-transform: uppercase;
					padding:0px 6px;
				}
				
				.col-md-1 {
					text-align: center;
					&:first-child{
						padding-left:0;
						margin-left:-2px;
					}
					i {
						background-color: #e5eef0;
						border:1px solid #000;
						width:68px;
						line-height: 68px;
						color: #000;
						font-size: 32px;
						background-color: $thirdColor;
						transition-duration: .2s;
						&:hover {
							background-color: $mainColor;
							color:#fff;
							border-color:$mainColor;
						}
					}
					
				}
				.col-md-3{
					padding-left: 8px;
					&:last-child{
						padding-right:0px;
					}
					h3{
						font-size: 20px;
						font-family: 'Raleway';
					}
					p{
						font-size: 14px;
						font-family:'Karla';
						margin-top:15px;
					}
				}
			}
			button{
				@include button;
			}
		}
	}
}

#clients2{
	.container-fluid{
		background-color: $secondaryColor;
		.container{
			padding:100px 15px;
			.clientsHeader{
				paddig:0;
				> h1 {
					font: 700 25px / 30px 'Raleway';
					text-transform: uppercase;
					color:#000;
				}
				> h3 {
					color:#fff;
					font:400 13px / 15px 'Raleway';
					display: inline-block;
					background-color: #000;
					text-transform: uppercase;
					padding:0px 6px;
				}
				i{
					border:1px solid #fff;
					border-radius: 100%;
					color:#fff;
					padding:15px;
					margin-top:15px;
				}
			}
			.quote{
				padding:11px 0 0 0;
				text-align: center;
				color:#000;
				.fa-quote-left{
					float: left;
				}
				p{
					clear:both;
					margin:0 30px 0 30px;
				}
				.fa-quote-right{
					float:right;
				}
				h2{
					text-transform: uppercase;
					font:700 14px / 20px 'Karla';
					color: $hColor;
					margin-top:40px;
					span{
						font-weight: 400;
						display: block;
					}
				}
			}
			.hexagons{
				div{
					width:220px;
					display:flex;
					flex-wrap: wrap;
					justify-content: center;
					margin:20px auto;
					img{
						width:55px;
						height: 63px;
						margin:0 4px;
						&:nth-child(4){
							margin-top:-10px;
						}
						&:nth-child(5){
							margin-top:-10px;
						}
					}
				}
			}
		}
	}
}

#pricing2 {
	.container-fluid {
		.container {
			.col-md-12 {
				padding-left:0px;
				&:first-child {
					margin-top: 100px;
					h1 {
						font: 700 25px / 30px 'Raleway';
						text-transform: uppercase;
					}
					h3 {
						color:#fff;
						font:400 13px / 15px 'Raleway';
						display: inline-block;
						background-color: $secondaryColor;
						text-transform: uppercase;
						padding:0px 6px;
					}//col-md-12 first-child
				}
				&:last-child {
					margin-top: 43px;
					margin-bottom: 99px;
					.col-md-3 {
						&:first-child {
							padding-left: 0;
						}
						&:last-child {
							padding-right: 0
						}
						.plan {
							position: relative;
							border: 1px solid $borderColor;
							height: 424px;
							transition-duration: .2s;
							.planName {
								border-bottom: 1px solid $borderColor;
								padding: 36px 0 13px 0;
								h1 {
									font-size: 20px;
									font-weight: bold;
									font-family: 'Raleway';
									text-transform: uppercase;
								}
							} //planName
							.planPrice {
								padding: 20px 0 60px 0;
								p {
									font-size: 18px;
									font-family: 'Raleway';
									span {
										color: $secondaryColor;
									}
								}
							}
							.planDetails {
								line-height: 36px;
								font-size: 15px;
								font-family: 'Karla';
							}
							button {
								border-radius:3px !important;
								background-color:$secondaryColor !important;
								@include button;
								position: absolute;
								right:65px;
								bottom: -19px;
								&:hover{
									background-color: $mainColor !important;
								}
							}
							&:hover{
								-webkit-box-shadow: 0px 0px 138px -48px rgba(0,0,0,0.75);
								-moz-box-shadow: 0px 0px 138px -48px rgba(0,0,0,0.75);
								box-shadow: 0px 0px 138px -48px rgba(0,0,0,0.75);
							}
						} //plan
						.recommended {
							img {
								position: absolute;
								top: 0px;
								left: 0px;
							}
						}
					} //col-md-3
				} //col-md-12 last-child
			} //col-md-12
		} //container
	} //container-fluid
} //pricing

#team2 {
.container-fluid{
	background-color:$thirdColor;
.container{
	.col-md-12{
		padding-left:0px;
		&:first-child{
			margin-top: 100px;
			h1 {
				@include sectionh1;}
			h3 {
				@include sectionh3;}
		}//col-md-12 first-child
		&:last-child{
			margin-top: 38px;
			margin-bottom:98px;
			.col-md-3 {
				&:first-child {
					padding-left: 0;
					}
				&:last-child {
					padding-right: 0
				}
				.member{
					background-color: #fff;
					.imgContainer{
						width:100%;
						height:276px;
						overflow: hidden;
						img{
							width:100%;
							height:276px;
						}
					}//img-container
					.content{
						padding:30px 28px 32px 30px;
						transition-duration: .2s;
						h4{
							font-family: 'Karla';
							font-size:14px;
							font-weight: bold;
							text-transform: uppercase;
							letter-spacing: 1px;
						}
						p{
							color:$secondaryColor;
							transition-duration: .2s;
							}
						ul{
							margin-top: 13px;
							a{
								color: #adbdc1;
								transition-duration: .2s;
								&:hover{
									color:darken(#adbdc1,35%);
								}
							}
						}
						&:hover{
							background-color: $mainColor;
						}
						&:hover p{
							color:#000;
						}
						&:hover ul li a{
							color:#fff;
						}
					}
				}
			}//col-md-3
		}//col-md-12 last-child
	}//col-md-12
}//container
}//container-fluid
}//team

#homepageBlog{
	.container-fluid{
		.container{
			padding:100px 15px;
			.col-md-12{
				padding:0px;
				h1 {
					font: 700 25px / 30px 'Raleway';
					text-transform: uppercase;
				}
				h3 {
					color:#fff;
					font:400 13px / 15px 'Raleway';
					display: inline-block;
					background-color: $secondaryColor;
					text-transform: uppercase;
					padding:0px 6px;
				}
			}
			.blogImage{
				margin-top: 35px;
				width:100%;
				padding:0;
				height:395px;
				background-color:#8d8d8d;
				position: relative;
				div{
					position: absolute;
					top:0;
					left:0;
					width: 83px;
					height: 83px;
					background-color: $mainColor;
					color:#fff;
					text-align: center;
					padding-top:10px;
					h2{
						font: 700 36px 'Raleway';
					}
					h4{
						font: 500 14px 'Raleway';
						text-transform: uppercase;
					}
				}
				
			}
			.blogContent{
				.row{
					margin-top:40px;
					h5{
						font:500 20px / 24px 'Raleway'
					}
					ul{
						li{
							margin-left:37px;
							i{
								color:$secondaryColor;
								margin-right:5px;
							}
							span{
								text-transform: uppercase;
								color: #58686c;
								font: 400 14px / 24px 'Karla';
							}
						}
					}
				}
				p{
					margin-top:45px;
					font: 400 14px / 24px 'Karla';
				}
				button{
					margin-top:50px;
					@include button;
					border-radius:3px;
				}
			}
		}
	}
}

#footer2 {
	.footer{
		background-color:#1f2629;
		.footerTop{
			.container{
				padding:75px 0px 80px 15px;
				border-bottom: 1px solid #384145;
				.col-md-12{
					padding-left:0px;
					&:first-child{
						.col-md-1{
							padding-left:0px;
						}
						h3{
							font-size: 18px;
							font-family: 'Raleway';
							line-height: 24px;
							font-weight: 700;
							color:#fff;
						}
					}
					&:last-child{
						text-transform: uppercase;
						color:#93a1a7;
						line-height: 35px;
						font-family: 'Karla';
						font-size: 14px;
						letter-spacing: 2px;
						a{
							color:#93a1a7;
							transition-duration: 0.2s;
							&:hover{
								color:darken(#93a1a7,70%);
								text-decoration: none;
							}
						}
						span{
							color:#fff;
						}
						.newsletter{
							padding-right:0px;
							input{
								background-color: transparent;
								display: inline-block;
								width:220px;
								height: 40px;
								border:1px solid #384145;
								padding-left:19px;
								color:#93a1a7;
							}
							button{
								@include button;
								background-color:$secondaryColor;
								border-radius:0;
								width:42px;
								height: 40px;
								margin-top: -1px;
							}
						}
					}
				}
			}
		}
		.footerBottom{
			color:#93a1a7;
			padding:22px 0px 68px 0;
			text-transform: uppercase;
			font-family: 'Karla';
			font-size: 14px;
			letter-spacing: 2px;
		}
	}
}

